@charset "UTF-8"; 


body{
    background-color: #15202B;
    color:lightgray;
}
select,button{
    background-color: #5c5c5c;
    color: #eee;
    cursor: pointer;
}
input[type=text],textarea {
    color: #eee;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #dab97e;
    padding-left: 10px;
}
input[type=text]:focus,textarea:focus{
    outline: none
} 

.iner {
    margin: 0 auto;
    width: 1240px;
    height: 100%;
    background-color: #333333;
}

#title{
    width: 100%;
    height: 200px;
    padding-top: 30px;
}
.logo{
    width: 300px;
    height: 100px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
#title .title{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    line-height: 1em;
    color: #dab97e;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -3px 20px rgba(255,255,255,0.4);
}
#printbox{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
}
.img_box{
    width: 440px;
    margin-left: 20px;
    border: none;
    border-radius: 30px;   
    background-color: #5c5c5c;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_box label{
    margin-right: 10px;
}
.color{
    width: 150px;
    margin-left: 20px;
    border: none;
    border-radius: 30px;   
    background-color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color input{
    color: #000;
    width: 60px;
    line-height: 1em;
}

.mod{
    width: 200px;
    margin-left: 20px;
    border: none;
    border-radius: 30px;   
    /* background-color: #5c5c5c; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.mod select{
    margin-left: 5px;
}

form{
    display: flex;
    flex-direction: column;
    font-size: larger;
    padding-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.info{
    margin-bottom: 10px;
}
.info p{
    color: #F7DAA3;
    font-size: 25px;
    margin-bottom: 20px;
}
.info .name{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.info .name label:first-child{
    margin-right: 10px;
}
.ingame{
    margin-bottom: 30px;
}
.ingame p, .twitter P{
    color: #F7DAA3;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ingame .raidbox{
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.twitter{
    margin-bottom: 30px;
}
.info-title{

}

input[name="guild"]{
    
}
.bun{
    height: 110px;
}
.submit{
    width: 100px;
    padding: 10px 20px;
    border-radius: 45px;
    border: none;
    margin-right: 20px;
}

.dawnlod{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    padding: 10px 20px;
    border-radius: 45px;
    border: none;

}
.printbox{
    position: relative;
    width: 1160px;
    height: 660px;
    border: none;    

}
.outA{
    position: absolute;
    top: -30px;
    left: -80px;
    transform: scale(0.85);
    width: 1280px;
    height: 720px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    cursor: Default;
    border: none;
}
.outA img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    border: none;
    border-radius: 20px;
}
.outB{
    position: absolute;
    background-image: url(../img/bg1.png);
    background-position: -60px -140px ;
    background-repeat: no-repeat;
    width: 600px;
    height: 800px;
    border: none;
    
}
.by{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/bg3.png);
    background-repeat: no-repeat;
}
.outB .outB-text{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 450px;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: space-around;
    color: whitesmoke;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
}
.outB-text p{
    color: #F7DAA3;
    font-weight: bolder;
    font-size: 18px;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    font-family: "NeoDunggeunmo";
}

.outB-text span{
    margin-left: 10px;
    font-family: 'Cafe24Syongsyong';
}
.printraid .title span{
    text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
.outB-text input[type="checkbox"] {
    display: none;
}
.outB-text input[type="checkbox"] + label {
    display: inline-block; 
    padding-left: 12px;
    background-image: url(../img/checkbox_off.png);
    background-position: left center;
    background-repeat: no-repeat;
    text-shadow: 6px 4px 4px rgba(0,0,0,0.4);
    font-family: 'Cafe24Dongdong';
}
.outB-text input[type="checkbox"]:checked + label {
    background-image: url(../img/checkbox_on.png);
}

.printinfo {
}
.mococo-bg{
    position: absolute;
    top: 7px;
    right: 115px;
    width: 100px;
    height: 100px;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(../img/bg2.png);
    border-radius: 20px;
    border: none;
    display: none;
}
.mococo-img{
    position: absolute;
    top: 28px;
    right: 142px;
    width: 50px;
    height: 50px;
    background-size: auto;
    background-position: center center;
    border-radius: 20px;
    border: none;
}
.mococo{
    background-image: url(../img/mococo.png);
    background-repeat: no-repeat;
}
.jab-img{
    position: absolute;
    top: 12px;
    right: 20px;
    width: 120px;
    height: 100px;
    background-size: auto;
    background-position: center center;
    border-radius: 20px;
    border: none;
}
.Warlord{
    background-image: url(../img/Warlord.png);
    background-repeat: no-repeat;
}
.Berserker{
    background-image: url(../img/Berserker.png);
    background-repeat: no-repeat;
}
.Destroyer{
    background-image: url(../img/Destroyer.png);
    background-repeat: no-repeat;
}
.Holyknight{
    background-image: url(../img/Holyknight.png);
    background-repeat: no-repeat;
}
.Battle{
    background-image: url(../img/Battle.png);
    background-repeat: no-repeat;
}
.Infighter{
    background-image: url(../img/Infighter.png);
    background-repeat: no-repeat;
}
.Soul{
    background-image: url(../img/Soul.png);
    background-repeat: no-repeat;
}
.Lance{
    background-image: url(../img/Lance.png);
    background-repeat: no-repeat;
}
.Striker{
    background-image: url(../img/Striker.png);
    background-repeat: no-repeat;
}
.Bard{
    background-image: url(../img/Bard.png);
    background-repeat: no-repeat;
}
.Arcana{
    background-image: url(../img/Arcana.png);
    background-repeat: no-repeat;
}
.Summoner{
    background-image: url(../img/Summoner.png);
    background-repeat: no-repeat;
}
.Sorceress{
    background-image: url(../img/Sorceress.png);
    background-repeat: no-repeat;
}
.DevilHunter{
    background-image: url(../img/DevilHunter.png);
    background-repeat: no-repeat;
}
.Blaster{
    background-image: url(../img/Blaster.png);
    background-repeat: no-repeat;
}
.Hawk{
    background-image: url(../img/Hawk.png);
    background-repeat: no-repeat;
}
.Scouter{
    background-image: url(../img/Scouter.png);
    background-repeat: no-repeat;
}
.Gunslinger{
    background-image: url(../img/Gunslinger.png);
    background-repeat: no-repeat;
}
.Reaper{
    background-image: url(../img/Reaper.png);
    background-repeat: no-repeat;
}
.Demonic{
    background-image: url(../img/Demonic.png);
    background-repeat: no-repeat;
}
.Blade{
    background-image: url(../img/Blade.png);
    background-repeat: no-repeat;
}
.Painter{
    background-image: url(../img/Painter.png);
    background-repeat: no-repeat;
}
.printinfo .info1{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info1 .serverbox{
    width: 135px;
    display: flex;
    align-items: center;
}
.info1 .jabbox{
    width: 200px;
    display: flex;
    align-items: center;
}
.printinfo .info2{
    height: 45px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.info2 .namebox{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.printinfo .info3{
    display: flex;
    margin-bottom: 10px;
}
.printinfo .info3 .levelbox{
    width: 100px;
    display: flex;
    align-items: center;
}
.printinfo .info3 .guildbox{
    width: 300px;
    display: flex;
    align-items: center;
}
.printtime{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.printtime .time-title{
    width: 100px;
}
.printtime .time label,.printcontents .contents label{
    margin-right: 5px;
}
.printtime .time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 340px;
    padding-left: 20px;
    padding-right: 10px;
}
.printcontents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.printcontents .contents-title{
    width: 100px;
}
.printcontents .contents{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 360px;
    padding-right: 20px;
}
.printraid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.printraid .raid-title{
    width: 200px;
}
.printraid .raid{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.printraid .raid .title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
}
.printraid .raid .title1{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.printraid .raid .title2{
    display: flex;
    flex-direction: column;
    padding-bottom: 2px;
}
.printraid .raid .box{
    width: 200px;
}
.twitter-word{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.twitter-word div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.twitter-word div span{
    text-align: right;
    width: 80%;
}
.printplay p, .printparty p, .printtwitter p{
    margin-bottom: 10px;
    margin-top: 10px;
}


