@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


ul,
ol,
li {
    list-style: none;
}

a {
    color: #000;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

img,
video {
    vertical-align: top;
    border: 0;
}

input,
select,
textarea,
button {
    font: inherit;
    color: inherit;
    vertical-align: middle;
    border-radius: 0;
}

address {
    font-style: normal;
}

table {
    border-collapse: collapse;
}
